@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
html{
    background-color: $offBlack;
}
.box{
    margin-left: 35%;
    margin-top: 6%;
    width: 378px;
    height: 681px;
    background-color: $darkGrey;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 88px;
        height: 92px;
        border-radius: 100%;
    }
    h2{
        color: $white;
        margin-bottom: 0;
    }
    h3{
        color: $green;
        margin-top: 8px;
    
    }
    p{
        color: $white;
    }
    .buttonBox{
        display: flex;
        flex-direction: column;
        
        
        button{
            width: 303px;
            height: 46px;
            border-radius: 7px;
            background-color: $grey;
            color: $white;
            border: 0;
            cursor: pointer;
            margin: 7px;
            
        &:hover{
                background-color: $green;
                color: $offBlack;
            }
        }
    }
}